* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    background-attachment: fixed;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

 .logo img{
    height: auto;
    width: 300px;
    border-radius: 25px;
} 

.header-text h1,
.header-text h2,
.header-text p {
    text-align: center;
    margin: 10px 0;
}


.header-text h1{
    margin:auto;
    font-size: larger;
    color:#333;
    font-weight: bold;

}
.header-text h2{
    font-size: medium;
    color: #444;
    font-weight: normal;
}
.header-text p {
    font-size: medium;
    color: #555;
}


body {
    background: lightgray;
    padding: 10px;
    color: rgba(0, 0, 0, 0.9);
    line-height: 1.6;
}

main {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 10px;


}

fieldset {
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 20px;
    border: 1px solid #8b7b7b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

legend {
    font-weight: bold;
    padding: 5px;
    color: #333;
    background: #f4f4f4;
    border-radius: 12px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
}

input[type="checkbox"],
input[type="radio"] {
    width: auto;
    margin-right: 10px;
    margin-top: auto;
}

input[type="submit"],
input[type="reset"] {
    width: auto;
    padding: 10px 20px;
    background-color: #4450d4;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px;
    margin-bottom: 15px;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #2e8b57;
}
@media(max-width: 768px){
    header{
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
    .logo img{
        width: 200px;
    }   
}